*{
margin: 0; 
padding: 0; 
box-sizing: border-box;
}

body{
background-color: #f3e5d8; 
justify-content: center; 
align-items: center; 
display: flex;
}

.recipe_box{
background-color: white;
width: 710px;
height: 1700px;
border-radius: 25px;
padding: 20px;
box-sizing: border-box;    
}

.recipe_photo >img{
max-width: 100%;
border-radius: 10px;
}

.recipe_name{
font-family: "Young Serif", sans-serif; 
font-weight: 200;
font-size: 35px;
margin-top: 15px;   
}

.recipe >p{
font-family: "Outfit", sans-serif;
color: #574f4d;
margin-top: 15px;
line-height: 23px;
font-size: 17px;
}

.recipe_time{
font-family: "Outfit", sans-serif;
background-color: hsl(330, 100%, 98%);
border-radius: 5px;
margin-top: 30px;
padding: 50px;
color: #574f4d;    
}

.recipe_time >p{
color: hsl(332, 51%, 32%);
margin-left: -25px;
margin-top: -25px;
font-size: 22px;
}

.recipe_time >ul{
margin-top: 24px;
font-size: 17px;
line-height: 27px;
}

.recipe_time ::marker {
color: hsl(332, 51%, 32%);
}

.ingredients{
margin-top: 35px;
}

.ingredients >p{
font-family: "Young Serif", sans-serif;
color: #6a453c;
font-size: 30px;
}

.ingredients >ul{
font-family: "Outfit", sans-serif;
color: #574f4d;
line-height: 30px; 
font-size: 17px; 
margin-top: 24px;
margin-left: 26px;  

}

.ingredients ::marker{
color: #6a453c;    
}

hr.hr1{
border-top: 1px solid #d7d2d2;
margin-top: 25px;
}

.instructions{
margin-top: 35px;
}
    
.instructions >p{
font-family: "Young Serif", sans-serif;
color: #6a453c;
font-size: 30px;
}
    
.instructions >ol{
font-family: "Outfit", sans-serif;
color: #574f4d;
line-height: 30px; 
font-size: 17px; 
margin-top: 24px;
margin-left: 26px;      
}
    
.instructions ::marker{
color: #6a453c;    
}

.nutrition{
margin-top: 35px;
}

.nutrition >p :nth-child(1){
font-family: "Young Serif", sans-serif;
color: #6a453c;
font-size: 30px;
}

.nutrition >p{
font-family: "Outfit", sans-serif;
color: #574f4d;
margin-top: 15px;
line-height: 23px;
font-size: 17px;
}

.nutrition table {
width: 100%;
border-collapse: collapse;
font-family: "Outfit", sans-serif;
color: #6a453c;
margin-top: 20px;
}

.nutrition table th, .nutrition table td {
text-align: left;
padding: 10px;
}

.nutrition table td{
font-weight: 700;
}


.nutrition table th {
font-weight: 550;
color: #574f4d;
}

.nutrition table tr:not(:last-child) {
border-bottom: 1px solid #d7d2d2;
}

@media (max-width: 768px){
    body{
        background-color: white;
        padding: 0px;
    }

    .recipe_photo >img{ 
    width: 100% ;
    border-radius: 0px; 
    }

}